TASK III

In [1]:
import pandas as pd

In [2]:
df_2014 = pd.read_csv('Analytics_mindset_case_studies_PCard_FY2014.csv', parse_dates=['Transaction Date', 'Posted Date'], encoding='ISO-8859-1', header = 0)

In [3]:
df_2014.dtypes

Agency Number                            int64
Agency Name                             object
Cardholder Last Name                    object
Cardholder First Initial                object
Description                             object
Amount                                 float64
Vendor                                  object
Transaction Date                datetime64[ns]
Posted Date                     datetime64[ns]
Merchant Category Code (MCC)            object
dtype: object

In [4]:
start_date = '2014-01-01'
end_date = '2014-12-31'
OSU2014 = ((df_2014['Transaction Date'] >= start_date) & (df_2014['Transaction Date'] <= end_date))
df_2014 = df_2014[OSU2014]
onlyOSU = df_2014['Agency Name'] == 'OKLAHOMA STATE UNIVERSITY'
df_2014 = df_2014[onlyOSU]
df_2014

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
56333,1000,OKLAHOMA STATE UNIVERSITY,Reddington,D,GENERAL PURCHASE,735.00,ABSA,2014-01-03,2014-01-06,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...
56334,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,304.04,ORSCHELN DURANT 83,2014-01-03,2014-01-06,HARDWARE STORES
56335,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,39.19,ORSCHELN DURANT 83,2014-01-03,2014-01-06,HARDWARE STORES
56336,1000,OKLAHOMA STATE UNIVERSITY,Rendina,E,GENERAL PURCHASE,260.00,CELLSIGNAL.COM,2014-01-02,2014-01-06,"DRUGS, DRUG PROPRIETARIES, AND DRUGGISTS SUNDRIES"
56337,1000,OKLAHOMA STATE UNIVERSITY,Rex,T,GENERAL PURCHASE,80.00,THERMACUBE 00 OF 00,2014-01-02,2014-01-06,BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED
...,...,...,...,...,...,...,...,...,...,...
387969,1000,OKLAHOMA STATE UNIVERSITY,Smith,L,STAPLES 12PK BUBBLE MLR 6X EA|STAPLES 12PK BUBBLE,19.58,STAPLES 00105288,2014-06-27,2014-06-30,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES"
387970,1000,OKLAHOMA STATE UNIVERSITY,Smith,L,SPLS POLY BUBL MLR 8.5X11 EA|SPLS POLY BUBL ML...,49.93,STAPLES 00105288,2014-06-27,2014-06-30,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES"
387971,1000,OKLAHOMA STATE UNIVERSITY,Smith,R,GENERAL PURCHASE,29.99,PAYPAL EZOFFICEINV,2014-06-28,2014-06-30,COMPUTER SOFTWARE STORES
387972,1000,OKLAHOMA STATE UNIVERSITY,Smith,S,GENERAL PURCHASE,470.70,183 BUILD-OKLAHOMA,2014-06-27,2014-06-30,CONSTRUCTION MATERIALS NOT ELSEWHERE CLASSIFIED
387973,1000,OKLAHOMA STATE UNIVERSITY,Smith,S,GENERAL PURCHASE,15.98,HARBOR FREIGHT TOOLS 63,2014-06-26,2014-06-30,HARDWARE STORES

In [5]:
df_2015 = pd.read_csv('Analytics_mindset_case_studies_PCard_FY2015.csv', parse_dates=['Transaction Date', 'Posted Date'], encoding='ISO-8859-1', header = 0)
df_2015['Amount'] = df_2015['Amount'].str.replace('$','').str.replace(',','').str.replace('(','-').str.replace(')','')
df_2015['Amount'] = df_2015['Amount'].astype(float)

In [6]:
df_2015.dtypes

Agency Number                            int64
Agency Name                             object
Cardholder Last Name                    object
Cardholder First Initial                object
Description                             object
Amount                                 float64
Vendor                                  object
Transaction Date                datetime64[ns]
Posted Date                     datetime64[ns]
Merchant Category Code (MCC)            object
dtype: object

In [7]:
df_2015

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,1000,OKLAHOMA STATE UNIVERSITY,Clark,K,GENERAL PURCHASE,88.88,Discount School Supply,2014-07-23,2014-07-24,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES"
1,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,425.00,BROONER'S FLOOR CENTER,2014-07-23,2014-07-24,"FLOOR COVERING,RUG AND CARPET STORES"
2,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,NEWS ADV./SUBSC. EACH,141.50,820 NEWS PRESS,2014-07-23,2014-07-24,CONTINUITY/SUBSCRIPTION MERCHANTS
3,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,2679.99,WWW.NEWEGG.COM,2014-07-23,2014-07-24,ELECTRONICS STORES
4,1000,OKLAHOMA STATE UNIVERSITY,Clark,P,BH 3-INX7-IN SMALL BRASS B PCS|BLUE HAWK SHOE ...,22.44,LOWES #00241,2014-07-22,2014-07-24,HOME SUPPLY WAREHOUSE STORES
...,...,...,...,...,...,...,...,...,...,...
437574,98000,GRAND RIVER DAM AUTH.,Wheeler,K,2866679 EA,377.35,ALLIED ELECTRONICS INC,NaT,NaT,CATALOG MERCHANTS
437575,98000,GRAND RIVER DAM AUTH.,Wheeler,K,612x2x914DEWALTREGCLCWORKG EA|7821230800600L10...,259.16,FASTENAL COMPANY01,NaT,NaT,HARDWARE STORES
437576,98000,GRAND RIVER DAM AUTH.,Wheeler,K,GENERAL PURCHASE,317.71,TEMPEST TELECOM SOLUTI,NaT,NaT,TELECOMMUNICATION EQUIPMENT INCLUDING TE
437577,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,7992.96,"IN FELDMAN, FRANDEN, WOO",NaT,NaT,"LEGAL SERVICES, ATTORNEYS"
437578,98000,GRAND RIVER DAM AUTH.,Bailey,D,GENERAL PURCHASE,9.92,WM SUPERCENTER #50,NaT,NaT,"GROCERY STORES, SUPERMARKETS"

In [8]:
##There's no transactions of 2015 in this data, only 2014
onlyOSU2015 = df_2015['Agency Name'] == 'OKLAHOMA STATE UNIVERSITY'
onlyOSU2015
df_2015 = df_2015[onlyOSU2015]
df_2015

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,1000,OKLAHOMA STATE UNIVERSITY,Clark,K,GENERAL PURCHASE,88.88,Discount School Supply,2014-07-23,2014-07-24,"STATIONERY,OFFICE AND SCHOOL SUPPLY STORES"
1,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,425.00,BROONER'S FLOOR CENTER,2014-07-23,2014-07-24,"FLOOR COVERING,RUG AND CARPET STORES"
2,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,NEWS ADV./SUBSC. EACH,141.50,820 NEWS PRESS,2014-07-23,2014-07-24,CONTINUITY/SUBSCRIPTION MERCHANTS
3,1000,OKLAHOMA STATE UNIVERSITY,Clark,M,GENERAL PURCHASE,2679.99,WWW.NEWEGG.COM,2014-07-23,2014-07-24,ELECTRONICS STORES
4,1000,OKLAHOMA STATE UNIVERSITY,Clark,P,BH 3-INX7-IN SMALL BRASS B PCS|BLUE HAWK SHOE ...,22.44,LOWES #00241,2014-07-22,2014-07-24,HOME SUPPLY WAREHOUSE STORES
...,...,...,...,...,...,...,...,...,...,...
408156,1000,OKLAHOMA STATE UNIVERSITY,Kessler,G,GENERAL PURCHASE,283.00,TURN KEY COATING,NaT,NaT,METAL SERVICE CENTERS AND OFFICES
408157,1000,OKLAHOMA STATE UNIVERSITY,Kim,C,GENERAL PURCHASE,13.19,WAL-MART #0137,NaT,NaT,"GROCERY STORES, SUPERMARKETS"
408158,1000,OKLAHOMA STATE UNIVERSITY,Kim,C,GENERAL PURCHASE,12.84,JO-ANN STORE #2291,NaT,NaT,"SEWING, NEEDLEWORK, FABRIC AND PIECE GOO"
408159,1000,OKLAHOMA STATE UNIVERSITY,Kincaid,C,GENERAL PURCHASE,1150.26,B&C BUSINESS PRODUCTS,NaT,NaT,BUSINESS SERVICES NOT ELSEWHERE CLASSIFI
408160,1000,OKLAHOMA STATE UNIVERSITY,Kiner,W,May 0000,48.96,CINTAS 063,NaT,NaT,CLOTHING RENTAL-COSTUMES/UNIFORMS

In [9]:
mynames = ["Agency_Number", "Agency_Name", "Cardholder_LastName", "Cardholder_FirstInitial", "Descr", "Amount", "Vendor", "TransactionDate", "PostedDate", "MCC"]

In [10]:
filename = pd.concat([df_2014, df_2015], names = mynames)

In [11]:
##We assuume that we have to drop the transactions with NaT under Transaction Date as there is no way of knowing it's date 
##Not doing so will incorrectly inflate our figures. More information on them is required
filename = filename[filename['Transaction Date'].notnull()]
filename

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
56333,1000,OKLAHOMA STATE UNIVERSITY,Reddington,D,GENERAL PURCHASE,735.00,ABSA,2014-01-03,2014-01-06,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...
56334,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,304.04,ORSCHELN DURANT 83,2014-01-03,2014-01-06,HARDWARE STORES
56335,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,39.19,ORSCHELN DURANT 83,2014-01-03,2014-01-06,HARDWARE STORES
56336,1000,OKLAHOMA STATE UNIVERSITY,Rendina,E,GENERAL PURCHASE,260.00,CELLSIGNAL.COM,2014-01-02,2014-01-06,"DRUGS, DRUG PROPRIETARIES, AND DRUGGISTS SUNDRIES"
56337,1000,OKLAHOMA STATE UNIVERSITY,Rex,T,GENERAL PURCHASE,80.00,THERMACUBE 00 OF 00,2014-01-02,2014-01-06,BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED
...,...,...,...,...,...,...,...,...,...,...
139235,1000,OKLAHOMA STATE UNIVERSITY,Lindsey,K,GENERAL PURCHASE,15.00,OK STATE BUREAU OF INV,2014-12-01,2014-12-02,GOVERNMENT SERVICES--NOT ELSEWHERE CLASSIFIED
139236,1000,OKLAHOMA STATE UNIVERSITY,Lloyd,J,GENERAL PURCHASE,93.21,BUFFALO WILD WINGS,2014-12-01,2014-12-02,EATING PLACES AND RESTAURANTS
139237,1000,OKLAHOMA STATE UNIVERSITY,Longan,P,GENERAL PURCHASE,2.80,PIKEPASS REBILLS,2014-12-01,2014-12-02,TOLLS AND BRIDGE FEES
139238,1000,OKLAHOMA STATE UNIVERSITY,Lopez,R,12-OZ COLOR RAD CARAMEL VA EA|#72 CLAMP EA,17.72,LOWES #00241,2014-12-01,2014-12-02,HOME SUPPLY WAREHOUSE STORES
139239,1000,OKLAHOMA STATE UNIVERSITY,Fokar,M,CELLYTIC B 2X EA|PROTEASE INHIBITOR COCKTA EA|...,701.54,SIGMA ALDRICH US,2014-12-01,2014-12-02,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...

In [12]:
filename['Transaction Date'] = filename['Transaction Date'].dt.strftime('%m/%d/%Y')

In [13]:
filename['Posted Date'] = filename['Posted Date'].dt.strftime('%m/%d/%Y')

In [14]:
filename

,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
56333,1000,OKLAHOMA STATE UNIVERSITY,Reddington,D,GENERAL PURCHASE,735.00,ABSA,01/03/2014,01/06/2014,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...
56334,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,304.04,ORSCHELN DURANT 83,01/03/2014,01/06/2014,HARDWARE STORES
56335,1000,OKLAHOMA STATE UNIVERSITY,Reece,S,GENERAL PURCHASE,39.19,ORSCHELN DURANT 83,01/03/2014,01/06/2014,HARDWARE STORES
56336,1000,OKLAHOMA STATE UNIVERSITY,Rendina,E,GENERAL PURCHASE,260.00,CELLSIGNAL.COM,01/02/2014,01/06/2014,"DRUGS, DRUG PROPRIETARIES, AND DRUGGISTS SUNDRIES"
56337,1000,OKLAHOMA STATE UNIVERSITY,Rex,T,GENERAL PURCHASE,80.00,THERMACUBE 00 OF 00,01/02/2014,01/06/2014,BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED
...,...,...,...,...,...,...,...,...,...,...
139235,1000,OKLAHOMA STATE UNIVERSITY,Lindsey,K,GENERAL PURCHASE,15.00,OK STATE BUREAU OF INV,12/01/2014,12/02/2014,GOVERNMENT SERVICES--NOT ELSEWHERE CLASSIFIED
139236,1000,OKLAHOMA STATE UNIVERSITY,Lloyd,J,GENERAL PURCHASE,93.21,BUFFALO WILD WINGS,12/01/2014,12/02/2014,EATING PLACES AND RESTAURANTS
139237,1000,OKLAHOMA STATE UNIVERSITY,Longan,P,GENERAL PURCHASE,2.80,PIKEPASS REBILLS,12/01/2014,12/02/2014,TOLLS AND BRIDGE FEES
139238,1000,OKLAHOMA STATE UNIVERSITY,Lopez,R,12-OZ COLOR RAD CARAMEL VA EA|#72 CLAMP EA,17.72,LOWES #00241,12/01/2014,12/02/2014,HOME SUPPLY WAREHOUSE STORES
139239,1000,OKLAHOMA STATE UNIVERSITY,Fokar,M,CELLYTIC B 2X EA|PROTEASE INHIBITOR COCKTA EA|...,701.54,SIGMA ALDRICH US,12/01/2014,12/02/2014,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...

In [15]:
filename.shape

(116031, 10)

Data set has 116,031 rows!

In [16]:
filename['Amount'].sum()

33504148.340000004

In [17]:
df_2014['Amount'].sum()

17229575.400000002

In [18]:
df_2015['Amount'].sum()

31666078.730000004

TASK V

Cleaning the date:

In [19]:
PCard = filename.copy()

In [20]:
PCard.describe

<bound method NDFrame.describe of         Agency Number                Agency Name Cardholder Last Name  \
56333            1000  OKLAHOMA STATE UNIVERSITY           Reddington
56334            1000  OKLAHOMA STATE UNIVERSITY                Reece
56335            1000  OKLAHOMA STATE UNIVERSITY                Reece
56336            1000  OKLAHOMA STATE UNIVERSITY              Rendina
56337            1000  OKLAHOMA STATE UNIVERSITY                  Rex
...               ...                        ...                  ...
139235           1000  OKLAHOMA STATE UNIVERSITY              Lindsey
139236           1000  OKLAHOMA STATE UNIVERSITY                Lloyd
139237           1000  OKLAHOMA STATE UNIVERSITY               Longan
139238           1000  OKLAHOMA STATE UNIVERSITY                Lopez
139239           1000  OKLAHOMA STATE UNIVERSITY                Fokar

       Cardholder First Initial  \
56333                         D
56334                         S
56335                         S
56336                         E
56337                         T
...                         ...
139235                        K
139236                        J
139237                        P
139238                        R
139239                        M

                                              Description  Amount  \
56333                                    GENERAL PURCHASE  735.00
56334                                    GENERAL PURCHASE  304.04
56335                                    GENERAL PURCHASE   39.19
56336                                    GENERAL PURCHASE  260.00
56337                                    GENERAL PURCHASE   80.00
...                                                   ...     ...
139235                                   GENERAL PURCHASE   15.00
139236                                   GENERAL PURCHASE   93.21
139237                                   GENERAL PURCHASE    2.80
139238         12-OZ COLOR RAD CARAMEL VA EA|#72 CLAMP EA   17.72
139239  CELLYTIC B 2X EA|PROTEASE INHIBITOR COCKTA EA|...  701.54

                           Vendor Transaction Date Posted Date  \
56333                        ABSA       01/03/2014  01/06/2014
56334          ORSCHELN DURANT 83       01/03/2014  01/06/2014
56335          ORSCHELN DURANT 83       01/03/2014  01/06/2014
56336              CELLSIGNAL.COM       01/02/2014  01/06/2014
56337   THERMACUBE       00 OF 00       01/02/2014  01/06/2014
...                           ...              ...         ...
139235     OK STATE BUREAU OF INV       12/01/2014  12/02/2014
139236         BUFFALO WILD WINGS       12/01/2014  12/02/2014
139237           PIKEPASS REBILLS       12/01/2014  12/02/2014
139238               LOWES #00241       12/01/2014  12/02/2014
139239           SIGMA ALDRICH US       12/01/2014  12/02/2014

                             Merchant Category Code (MCC)
56333   SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...
56334                                     HARDWARE STORES
56335                                     HARDWARE STORES
56336   DRUGS, DRUG PROPRIETARIES, AND DRUGGISTS SUNDRIES
56337          BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED
...                                                   ...
139235      GOVERNMENT SERVICES--NOT ELSEWHERE CLASSIFIED
139236                      EATING PLACES AND RESTAURANTS
139237                              TOLLS AND BRIDGE FEES
139238                       HOME SUPPLY WAREHOUSE STORES
139239  DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...

[116031 rows x 10 columns]>

In [21]:
Card_Name = PCard['Cardholder First Initial'] + ' ' + PCard['Cardholder Last Name']

In [22]:
PCard['Cardholder_name'] = Card_Name

In [23]:
PCard = PCard.drop(['Cardholder Last Name', 'Cardholder First Initial'], axis=1)

In [24]:
PCard.head()

,Agency Number,Agency Name,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC),Cardholder_name
56333,1000,OKLAHOMA STATE UNIVERSITY,GENERAL PURCHASE,735.00,ABSA,01/03/2014,01/06/2014,SCHOOLS AND EDUCATIONAL SERVICES NOT ELSEWHERE...,D Reddington
56334,1000,OKLAHOMA STATE UNIVERSITY,GENERAL PURCHASE,304.04,ORSCHELN DURANT 83,01/03/2014,01/06/2014,HARDWARE STORES,S Reece
56335,1000,OKLAHOMA STATE UNIVERSITY,GENERAL PURCHASE,39.19,ORSCHELN DURANT 83,01/03/2014,01/06/2014,HARDWARE STORES,S Reece
56336,1000,OKLAHOMA STATE UNIVERSITY,GENERAL PURCHASE,260.00,CELLSIGNAL.COM,01/02/2014,01/06/2014,"DRUGS, DRUG PROPRIETARIES, AND DRUGGISTS SUNDRIES",E Rendina
56337,1000,OKLAHOMA STATE UNIVERSITY,GENERAL PURCHASE,80.00,THERMACUBE 00 OF 00,01/02/2014,01/06/2014,BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED,T Rex

1. User shall not spend more than $5,000 per transaction:

In [25]:
Question1 = PCard[['Amount', 'Cardholder_name', 'Description', 'Vendor', 'Transaction Date', 'Posted Date']]
morethan5k = Question1['Amount'] > 5000
Question1 = Question1[morethan5k].sort_values('Amount', ascending = False)
Question1

,Amount,Cardholder_name,Description,Vendor,Transaction Date,Posted Date
10720,29731.61,C Clark,GENERAL PURCHASE,OEC OTIS ELEVATOR CO,08/18/2014,08/19/2014
375945,27657.55,A Ropers,ROOM CHARGES,WINGATE MANHATTAN,05/22/2014,05/23/2014
369337,22764.84,A Ropers,ROOM CHARGES,HAMPTON INN & SUITES CRN,05/23/2014,05/26/2014
25554,21243.93,A Ropers,GENERAL PURCHASE,MAGDALENE COLLEGE,09/08/2014,09/09/2014
136901,19233.28,C Stover,GENERAL PURCHASE,COCKRELL EYECARE CENTER,12/24/2014,12/26/2014
25982,16517.20,A Ropers,AIR TRAVEL,SOUTHWES 5262393866444,08/28/2014,09/01/2014
20952,15327.36,J Williams,ROOM CHARGES,HILTON BOSTON DOWNTOWN,09/24/2014,09/26/2014
12408,13186.64,S Bilbeisi,ROOM CHARGES,ROWN NYC FD,08/01/2014,08/04/2014
60502,12600.00,C Clark,GENERAL PURCHASE,TLC PAINTING,01/24/2014,01/27/2014
276912,12380.00,C Clark,GENERAL PURCHASE,AABB-AMER. ASSO. BLOOD,04/04/2014,04/07/2014
812,11944.42,A Ropers,GENERAL PURCHASE,NASA CATERING 10550515,07/23/2014,07/24/2014
372592,11643.75,C Stover,ROOM CHARGES,EMBASSY SUITES CENTRAL,04/30/2014,05/01/2014
283657,10299.66,C Stover,ROOM CHARGES,WATERFRONT PLACE HOTEL,04/13/2014,04/21/2014
267581,10153.35,C Stover,ROOM CHARGES,COURTYARD BY MARRIOTT ARL,03/20/2014,03/24/2014
265210,9770.40,A Ropers,GENERAL PURCHASE,TOPGOLF COLONY F&B,02/28/2014,03/03/2014
269706,7951.00,C Stover,ROOM CHARGES,HOLIDAY INN EXPRESS & SU,03/06/2014,03/10/2014
123559,7189.81,C Stover,ROOM CHARGES,SHERATON DALLAS,11/05/2014,11/07/2014
116846,7013.02,A Ropers,GENERAL PURCHASE,MAGDALENE COLLEGE,10/21/2014,10/22/2014
278895,6980.00,A Ropers,GENERAL PURCHASE,ASSETWORKS INC.,04/02/2014,04/03/2014
258267,6923.32,C Stover,ROOM CHARGES,COURTYARD BY MARRIOTT-LKU,02/21/2014,02/24/2014
127966,6905.52,C Stover,ROOM CHARGES,SPRINGHILL SUITES TERRE,11/22/2014,11/24/2014
277282,6545.02,A Ropers,ROOM CHARGES,LE MERIDIEN DALLAS NOR,04/03/2014,04/04/2014
283457,6400.87,C Stover,ROOM CHARGES,SHERATON HOTEL,04/23/2014,04/25/2014
280454,6266.53,A Ropers,GENERAL PURCHASE,FREEMAN AV CHICAGO,04/10/2014,04/11/2014
275929,6210.50,A Ropers,GENERAL PURCHASE,BREDE ALLIED CONVENTION,04/10/2014,04/10/2014
381206,6000.00,C Clark,GENERAL PURCHASE,POLARIS MEDICAL ACADEMY,06/10/2014,06/11/2014
10200,5990.29,A Ropers,GENERAL PURCHASE,NASA CATERING 10550515,08/14/2014,08/15/2014
135136,5758.35,C Stover,GENERAL PURCHASE,SMC-PATIENT FINANCIAL SRV,12/03/2014,12/05/2014
270368,5731.60,C Stover,ROOM CHARGES,RED LION (CATHEDRAL CI,03/05/2014,03/06/2014
256035,5688.46,C Stover,GENERAL PURCHASE,COCKRELL EYECARE CENTER,02/19/2014,02/20/2014
368043,5638.18,K Krout,GENERAL PURCHASE,DB BAHN A-NR G6RN22,05/28/2014,05/29/2014
274400,5123.25,C Stover,ROOM CHARGES,HAMPTON INNS,04/28/2014,04/29/2014
267857,5101.20,C Stover,ROOM CHARGES,HAMPTON INN,03/24/2014,03/25/2014

2. User shall not spend more than $50,000:

In [26]:
Question2 = PCard[['Cardholder_name', 'Amount']]
Total_amount = Question2.groupby('Cardholder_name').sum()
over50k = Total_amount['Amount'] >= 50000
Total_amount[over50k].sort_values(['Amount'], ascending=False)

                     Amount
Cardholder_name
G Hines          1595302.32
M Tornakian      1182094.86
J Heusel          627608.56
S Fitzpatrick     437479.84
R Bowers          392761.34
...                     ...
J Gruntmeir        50553.45
N Huffstetler      50352.46
K Woodward         50318.47
G Williams         50297.55
K Sundstrom        50234.57

[127 rows x 1 columns]

3. User shall not spend more than $10,000 per month without approval

In [40]:
Question3 = PCard.copy()
Question3 = Question3[['Transaction Date', 'Cardholder_name', 'Amount']]
Question3 = Question3.set_index(['Transaction Date'])
Question3.index = Question3.index.strftime('%B')
Question3.index.name = 'Transaction Date'
by_month = Question3.groupby(['Transaction Date','Cardholder_name']).sum()
noMore10k = by_month['Amount'] > 10000
by_month[noMore10k].sort_values('Transaction Date')

AttributeError: 'Index' object has no attribute 'strftime'

4. People who split more than $5,000 between two or more swipes

In [28]:
Question4 = PCard.copy()
Question4 = Question4[['Vendor', 'Merchant Category Code (MCC)', 'Cardholder_name', 'Transaction Date', 'Amount']]
Question4 = Question4.groupby(['Vendor', 'Cardholder_name', 'Transaction Date']).agg({'Amount': 'sum', 'Merchant Category Code (MCC)': 'count'}).reset_index().rename(columns={'Merchant Category Code (MCC)': 'NumberSwipes'})
morethan1and5k = ((Question4.NumberSwipes > 1) & (Question4.Amount > 5000))
Question4 = Question4[morethan1and5k].sort_values('Transaction Date')
Question4

,Vendor,Cardholder_name,Transaction Date,Amount,NumberSwipes
67235,R.B. AKINS COMPANY,M Tornakian,01/06/2014,5164.00,4
11325,AUTOMATED BUILDNG SYSTEMS,M Tornakian,01/08/2014,6063.30,3
59139,OKLAHOMA CONTRACTORS SUP,G Hines,01/16/2014,5130.00,3
8821,ANIXTER-115687,J Heusel,01/23/2014,5775.10,2
22384,COUNCIL OF GRADUATE SCHO,J Kennedy,02/04/2014,5166.00,2
...,...,...,...,...,...
59096,OKLAHOMA CITY WINNELSO,M Tornakian,12/04/2014,5966.80,2
52297,MEDLEY MATERIAL HANDLING,C Wood,12/12/2014,5296.32,2
63938,PHONAK HEARING SYS,T Wilkinson,12/17/2014,6214.60,6
87992,VETERANS AFFRS DMC,J Kindschi,12/22/2014,6582.50,2
39954,IN MAVERICK JACKETS INC,W Edwards,12/24/2014,5398.35,2

Question 5

In [29]:
Question5 = Question4.groupby('Cardholder_name').count()
Question5

                    Vendor  Transaction Date  Amount  NumberSwipes
Cardholder_name
A Morey                  1                 1       1             1
A Santhanakrishnan       1                 1       1             1
B Baker                  1                 1       1             1
B Brinker                1                 1       1             1
C Clark                  1                 1       1             1
C Cowell                 1                 1       1             1
C Stover                 1                 1       1             1
C Wood                   1                 1       1             1
D Heaton                 1                 1       1             1
D Whitmore               1                 1       1             1
E Cooper                 1                 1       1             1
E Davis                  1                 1       1             1
G Hines                 18                18      18            18
H Forquer                1                 1       1             1
J Bailey                 1                 1       1             1
J Eisensmith             1                 1       1             1
J Heusel                 2                 2       2             2
J Kennedy                1                 1       1             1
J Kindschi               8                 8       8             8
J Wick                   1                 1       1             1
J Williams               1                 1       1             1
K Lenoir                 1                 1       1             1
K Lowe                   1                 1       1             1
M Clark                  1                 1       1             1
M Gotcher                2                 2       2             2
M Tornakian             11                11      11            11
R Singh                  1                 1       1             1
T Munday                 1                 1       1             1
T Wilkinson              1                 1       1             1
W Edwards                1                 1       1             1